@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  background-image: url(../image/image.jpg);
  background-repeat: none;
  background-position: center;
  background-image: calc(80vh);
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 750px) {
  .image {
    background-image: calc(100vh);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}
